<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/final.css">
</head>
<body>
    <div class="container row align-items-center">
        <div class="col-6">
            <img src="https://picsum.photos/id/98/800/600" class="w-100" alt="">
        </div>
        <div class="col-6">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolorem, aspernatur fugiat ea illum rem voluptatem magnam amet animi, eius vero quaerat, corrupti aut saepe odio nemo sequi sed voluptatum?
            </p>
        </div>
    </div>
    <div class="container row">
        <div class="col">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla magni dignissimos totam quis asperiores magnam ratione illo inventore fugit corporis deserunt porro sunt omnis quo, sint natus veritatis culpa. Nam.
            </p>
        </div>
        <div class="col">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla magni dignissimos totam quis asperiores magnam ratione illo inventore fugit corporis deserunt porro sunt omnis quo, sint natus veritatis culpa. Nam.
            </p>
        </div>
        <div class="col">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla magni dignissimos totam quis asperiores magnam ratione illo inventore fugit corporis deserunt porro sunt omnis quo, sint natus veritatis culpa. Nam.
            </p>
        </div>
        <div class="col">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla magni dignissimos totam quis asperiores magnam ratione illo inventore fugit corporis deserunt porro sunt omnis quo, sint natus veritatis culpa. Nam.
            </p>
        </div>
        <div class="col">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla magni dignissimos totam quis asperiores magnam ratione illo inventore fugit corporis deserunt porro sunt omnis quo, sint natus veritatis culpa. Nam.
            </p>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla magni dignissimos totam quis asperiores magnam ratione illo inventore fugit corporis deserunt porro sunt omnis quo, sint natus veritatis culpa. Nam.
            </p>
        </div>
        <div class="col">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla magni dignissimos totam quis asperiores magnam ratione illo inventore fugit corporis deserunt porro sunt omnis quo, sint natus veritatis culpa. Nam.
            </p>
        </div>
        <div class="col">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla magni dignissimos totam quis asperiores magnam ratione illo inventore fugit corporis deserunt porro sunt omnis quo, sint natus veritatis culpa. Nam.
            </p>
        </div>
        <div class="col">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla magni dignissimos totam quis asperiores magnam ratione illo inventore fugit corporis deserunt porro sunt omnis quo, sint natus veritatis culpa. Nam.
            </p>
        </div>
        <div class="col">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla magni dignissimos totam quis asperiores magnam ratione illo inventore fugit corporis deserunt porro sunt omnis quo, sint natus veritatis culpa. Nam.
            </p>
        </div>
    </div>
    <div class="container row">
        <div class="col-3">
            <ul>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
                <li>list</li>
            </ul>
        </div>
        <div class="col-9">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis facilis dolore doloremque, nesciunt laboriosam illum rem quam ducimus, nostrum alias molestias perspiciatis placeat nulla quod sed fugit veritatis. Minus, a?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis facilis dolore doloremque, nesciunt laboriosam illum rem quam ducimus, nostrum alias molestias perspiciatis placeat nulla quod sed fugit veritatis. Minus, a?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis facilis dolore doloremque, nesciunt laboriosam illum rem quam ducimus, nostrum alias molestias perspiciatis placeat nulla quod sed fugit veritatis. Minus, a?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis facilis dolore doloremque, nesciunt laboriosam illum rem quam ducimus, nostrum alias molestias perspiciatis placeat nulla quod sed fugit veritatis. Minus, a?
            </p>
        </div>
    </div>
    <div class="container row">
        <div class="col-3">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, tenetur, cumque reiciendis error nesciunt eveniet quisquam minima, perferendis temporibus consequatur non quas at! Eos ea doloribus aspernatur suscipit similique facilis.
            </p>
        </div>
        <div class="col-3">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, tenetur, cumque reiciendis error nesciunt eveniet quisquam minima, perferendis temporibus consequatur non quas at! Eos ea doloribus aspernatur suscipit similique facilis.
            </p>
        </div>
        <div class="col-3">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, tenetur, cumque reiciendis error nesciunt eveniet quisquam minima, perferendis temporibus consequatur non quas at! Eos ea doloribus aspernatur suscipit similique facilis.
            </p>
        </div>
        <div class="col-3">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, tenetur, cumque reiciendis error nesciunt eveniet quisquam minima, perferendis temporibus consequatur non quas at! Eos ea doloribus aspernatur suscipit similique facilis.
            </p>
        </div>
    </div>
</body>
</html>