<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/final.css">
</head>
<body>
    <nav>
        <a href="#" class="nav-logo">LOGO</a>
        <div class="nav-collapse">
            <ul class="nav-menu">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#service" class="nav-link">Service</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </nav>
    <header>
        <img src="https://picsum.photos/id/47/1600/800" alt="">
        <div class="header-content">
            <h1>HELLO RWD!!!</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At beatae repellat iusto odit dignissimos dolor asperiores animi ipsa dolorum esse!
            </p>
            <a href="#" class="btn btn-light">LINK</a>
        </div>
    </header>
    <section id="about" class="t-center">
        <div class="container row">
            <div class="col-12">
                <h2 class="section-title">About</h2>
            </div>
            <div class="col-4">
                <div class="about-icon">
                    <i class="fa-solid fa-cube fa-4x"></i>
                </div>
                <h3 class="about-title">Cube</h3>
                <p class="about-content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, doloremque!
                </p>
                <a href="#" class="btn btn-dark">More</a>
            </div>
            <div class="col-4">
                <div class="about-icon">
                    <i class="fa-solid fa-torii-gate fa-4x"></i>
                </div>
                <h3 class="about-title">Gate</h3>
                <p class="about-content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, doloremque!
                </p>
                <a href="#" class="btn btn-dark">More</a>
            </div>
            <div class="col-4">
                <div class="about-icon">
                    <i class="fa-solid fa-meteor fa-4x"></i>
                </div>
                <h3 class="about-title">Meteor</h3>
                <p class="about-content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, doloremque!
                </p>
                <a href="#" class="btn btn-dark">More</a>
            </div>
        </div>
    </section>
    <section id="service">
        <div class="container row">
            <div class="col-12">
                <h2 class="section-title t-center">Service</h2>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-img">
                        <img src="https://picsum.photos/id/98/800/600" alt="" class="obj-cover">
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">title</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur.
                        </p>
                        <a href="#" class="btn btn-orange">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-img">
                        <img src="https://picsum.photos/id/18/800/600" alt="" class="obj-cover">
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">title</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur.
                        </p>
                        <a href="#" class="btn btn-blue">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-img">
                        <img src="https://picsum.photos/id/70/800/600" alt="" class="obj-cover">
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">title</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur.
                        </p>
                        <a href="#" class="btn btn-orange">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-img">
                        <img src="https://picsum.photos/id/28/800/600" alt="" class="obj-cover">
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">title</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur.
                        </p>
                        <a href="#" class="btn btn-orange">Link</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container row justify-content-center">
            <div class="col-12">
                <h2 class="section-title t-center">Contact</h2>
            </div>
            <div class="col-6">
                <form action="">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Phone</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">E-mail</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Content</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <input type="submit" class="btn btn-dark" value="Submit">
                </form>
            </div>
        </div>
    </section>
    <footer class="t-center">
        2022&copy; XXX All Rights Reserved . Design by poi
    </footer>
    <a href="#" class="gotop"><i class="fa-solid fa-chevron-up fa-2x"></i></a>
</body>
</html>