/* NAV 主選單 */
nav {
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-between;

    /* height: 70px; */
    /* align-items: center; */
}
.nav-menu {
    list-style: none;
    display: flex;
}
.nav-logo,.nav-link {
    display: inline-block;
    padding-inline:12px;
    padding-block: 20px;
    text-decoration: none;
    color: #eee;
    font-weight: 400;
}
/* NAV 主選單 END*/

/* HEADER */
header {
    position: relative;
}
.header-content {
    position: absolute;
    background-color: rgb(0 0 0 / .3);
    backdrop-filter: blur(8px);
    inset:0;
    margin:auto;
    width: 600px;
    height: fit-content;
    padding: 30px;
    text-align: center;
    color: rgb(255 255 255 / .8);
    border-radius: 8px;
}
header h1 {
    font-size: 4rem;
}
header p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
}
/* HEADER END */
/* SECTION */
.section-title {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}
/* SECTION END */
/* ABOUT */

#about {
    padding-block: 150px;
    text-align: center;
    background-color: #fffdeb;
}
.about-icon {
    margin-bottom: 30px;
    width: 120px;
    height: 120px;
    background-color: #ffe2a9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    border:5px solid #f3bb4b;
    box-shadow: 1px 1px 5px 0 rgb(0 0 0 / .4);
}
.about-icon i{
    color: #291b00;
}
.about-title {
    margin-bottom: 10px;
}
.about-content {
    margin-bottom: 10px;
    padding-inline: 40px
}
/* ABOUT END */
/* SERVICE */
#service {
    padding-block: 150px;
}
/* SERVICE END */
/* CARD */
.card {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 6px 10px rgb(0 0 0 / .2);
}
.card-img {
    aspect-ratio: 1 / 1;
}
.card-content {
    padding: 15px ;
}
.card-title {
    margin-bottom: 12px;
}
.card-text {
    margin-bottom: 15px;
}
 
.obj-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* CARD END */
/* BTN */
.btn {
    display: inline-block;
    text-decoration: none;
    padding-inline: 20px;
    padding-block: 8px;
    border-radius: 5px;
}
.btn-dark {
    background-color: #222;
    color: #fff;
}
.btn-light {
    background-color: #eee;
    color: #222;
}
.btn-orange {
    background-color: #ffe732;
    color: #111;
}
.btn-blue {
    background-color: #34b8ff;
    color: #000;
}
/* BTN END*/