/* NAV 主選單 */
nav {
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-between;

    /* height: 70px; */
    /* align-items: center; */
}
.nav-menu {
    list-style: none;
    display: flex;
}
.nav-logo,.nav-link {
    display: inline-block;
    padding-inline:12px;
    padding-block: 20px;
    text-decoration: none;
    color: #eee;
    font-weight: 400;
}
/* NAV 主選單 END*/

/* HEADER */
header {
    position: relative;
}
.header-content {
    position: absolute;
    background-color: rgb(0 0 0 / .3);
    backdrop-filter: blur(8px);
    inset:0;
    margin:auto;
    width: 600px;
    height: fit-content;
    padding: 30px;
    text-align: center;
    color: rgb(255 255 255 / .8);
    border-radius: 8px;
}
header h1 {
    font-size: 4rem;
}
header p {
    font-size: 1.2rem;
    font-weight: 300;
}
/* HEADER END */
/* ABOUT */
#about {
    padding-block: 150px;
    text-align: center;
    background-color: #fffdeb;
}
.about-icon {
    margin-bottom: 30px;
    width: 120px;
    height: 120px;
    background-color: #ffe2a9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    border:5px solid #f3bb4b;
    box-shadow: 1px 1px 5px 0 rgb(0 0 0 / .4);
}
.about-icon i{
    color: #291b00;
}
.about-title {
    margin-bottom: 10px;
}
.about-content {
    margin-bottom: 10px;
    padding-inline: 40px
}
/* ABOUT END */