<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <input type="text" v-model="input">
        {{input}}
        <h1>{{title}}</h1>
        <p>
            {{description}}
        </p>
        <a :href="link">{{link}}</a>
        <div>
            <div v-for="drink,i of drinks">
                {{i+1}}.
                {{drink.title}}:
                {{drink.price}}
            </div>
        </div>
        <div>
            <input type="text" v-model="qty">
            <div v-if="qty > 10">庫存充足</div>
            <div v-else-if="qty > 0">低庫存</div>
            <div v-else>補貨中</div>
        </div>

        <div v-if="isShow">顯示</div>
        <div v-else>不顯示</div>

        <input type="checkbox" v-model="isShow">
        <img :src="cover" alt="">
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    input:'test',
                    title: 'Hello Vue',
                    description: '我是內容',
                    cover:'https://picsum.photos/id/26/800/400',
                    link: 'https://vuejs.org',
                    qty: 0,
                    isShow: false,
                    drinks: [
                        {
                            "id": 1,
                            "title": "紅茶",
                            "price": "15"
                        },
                        {
                            "id": 1,
                            "title": "綠茶",
                            "price": "15"
                        },
                        {
                            "id": 1,
                            "title": "奶茶",
                            "price": "25"
                        }
                    ]
                }
            }
        }).mount('#app')
    </script>
</body>
</html>