<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <input type="text" v-model="title" @keyup.enter="getMovies">
        <button @click="getMovies()">搜尋</button>
        <div v-for="data of datas">
            {{data}}
        </div>
       
        <div v-if="datas != ''">
            <a href="#" @click="getPrev()" v-if="currentPage != 1">上一頁</a>
            <a href="#" @click="getNext()" v-if="currentPage != totalPages">下一頁</a>
            {{currentPage}} / {{totalPages}}
        </div>
    </div>
    <script>
        Vue.createApp({
            data(){
                return{
                    title:'',
                    datas:'',
                    currentPage:1,
                    totalPages:'',
                }
            },
            methods:{
                getMovies(){
                    console.log(this.title);
                    let url = `http://www.omdbapi.com/?apikey=18456e59&type=movie&s=${this.title}&page=${this.currentPage}`;
                    fetch(url)
                    .then(res=>res.json())
                    .then(data=>{
                        console.log(data);
                        this.datas = data.Search;
                        this.totalPages = Math.ceil(data.totalResults / 10);
                    })
                },
                async getNext(){
                    this.currentPage = this.currentPage + 1;
                    console.log(this.currentPage);
                    let url = `http://www.omdbapi.com/?apikey=18456e59&type=movie&s=${this.title}&page=${this.currentPage}`;
                    await fetch(url)
                    .then(res=>res.json())
                    .then(data=>{
                        console.log(this.datas);
                        this.datas = data.Search
                    })
                },
                async getPrev(){
                    this.currentPage = this.currentPage - 1;
                    console.log(this.currentPage);
                    let url = `http://www.omdbapi.com/?apikey=18456e59&type=movie&s=${this.title}&page=${this.currentPage}`;
                    await fetch(url)
                    .then(res=>res.json())
                    .then(data=>{
                        console.log(this.datas);
                        this.datas = data.Search
                    })
                }
            }

        }).mount('#app')
    </script>
</body>
</html>