<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        #app {
            padding: 30px;
            background-color: #ccc;
        }
        .todo-item {
            margin-block: 15px;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="input"> <button>add</button>
        <div v-for="todo of todos" class="todos">
            <div class="todo-item">{{todo.title}}</div>
        </div>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    input: '',
                    todos:[
                        {
                            id:1,
                            title: 'todo 1',
                            isCompleted: true
                        },
                        {
                            id:2,
                            title: 'todo 2',
                            isCompleted: false
                        },
                        {
                            id:3,
                            title: 'todo 3',
                            isCompleted: true
                        }
                    ]
                }
            }
        }).mount('#app')
    </script>
</body>
</html>