<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        #app {
            padding: 30px;
            background-color: #ccc;
        }
        .todo-item {
            margin-block: 15px;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="input"> <button @click="addTodo()">add</button>
        <h2>未完成</h2>
        <div v-for="todo of uncompletedTodos" class="todos">
            <div class="todo-item">
                <input type="checkbox" v-model="todo.isCompleted">
                {{todo.title}}
            </div>
        </div>
        <h2>已完成</h2>
        <div v-for="todo in completedTodos" class="todos">
            <div class="todo-item">
                <input type="checkbox" v-model="todo.isCompleted">
                {{todo.title}}
            </div>
        </div>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    input: '',
                    todos:[
                        {
                            id:1,
                            title: 'todo 1',
                            isCompleted: true
                        },
                        {
                            id:2,
                            title: 'todo 2',
                            isCompleted: false
                        },
                        {
                            id:3,
                            title: 'todo 3',
                            isCompleted: true
                        }
                    ]
                }
            },
            methods:{
                addTodo(){
                    this.todos.push({
                        id: Date.now(),
                        title: this.input,
                        isCompleted: false
                    }),
                    this.input = '';
                }
            },
            computed:{
                completedTodos(){
                    return this.todos.filter(data => data.isCompleted === true)
                },
                uncompletedTodos(){
                    return this.todos.filter(data => data.isCompleted === false)
                }
            }
        }).mount('#app')
    </script>
</body>
</html>